<div>
  <div style="float: left; width: auto; display: inline;">
    <%= link_to course_lesson_lesson_module_question_path(question, course_id: @course.id, lesson_id: @lesson_module.lesson.id, lesson_module_id: @lesson_module.id) do %>
        <div class="<%= question_title(correct, wrong) %> circle" id="question_<%= question.id %>"></div>
    <% end %>
  </div>
  <div style="float: left; width: 90%; display: inline; padding-left: 10px;">
    <h3 style="margin: 0;"><%= question.question_string %></h3>
  </div>
</div>
<br>
<div class="clearfix"></div>
<ul>
  <% question.answer_options.each do |option| %>
      <li style="font-size: 250%; color: <%= answer_option_words(question.answer_options_id, option.id, @wrong_answers) if (correct || wrong) %>;">
        <h5 style="color: black; vertical-align: text-top;">
          <%= option.lesson_word.word.name %>
        </h5>
      </li>
  <% end %>
</ul>
<hr>