<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lesson_module_id %><br>
    <%= f.collection_select(:lesson_module_id, LessonModule.all, :id, :name ) %>
  </div>
  <div class="field">
    <%= f.label :lesson_word_id %><br>
    <%= f.collection_select(:lesson_word_id, LessonWord.all, :id, :word) %>
  </div>
  <div class="field">
    <%= f.label :correct_choice %><br>
    <%= f.number_field :correct_choice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
