<% @lesson_module.questions.each do |question| %>
    <% if question.correct?(current_user.id)  %>
        <%= link_to course_lesson_lesson_module_question_path(question, course_id: @course.id, lesson_id: @lesson_module.lesson.id, lesson_module_id: @lesson_module.id) do %>
            <div class="green circle" id="question_<%= question.id %>"></div>
        <% end %>
    <% elsif question.wrong?(current_user.id) %>
        <%= link_to course_lesson_lesson_module_question_path(question, course_id: @course.id, lesson_id: @lesson_module.lesson.id, lesson_module_id: @lesson_module.id) do %>
            <div class="red circle" id="question_<%= question.id %>"></div>
        <% end %>
    <% else %>
        <%= link_to course_lesson_lesson_module_question_path(question, course_id: @course.id, lesson_id: @lesson_module.lesson.id, lesson_module_id: @lesson_module.id) do %>
            <div class="circle" id="question_<%= question.id %>"></div>
        <% end %>
    <% end %>
<% end %>
<h2><b>Please read the following question and answer accordingly</b></h2>
<h3 class="<%= question_title(@question) %>"><%= @question.question_string %></h3>
<%= render 'answers/form', question: @question %>
<% skip_or_next = (@question.wrong?(current_user.id) || @question.correct?(current_user.id)) ? 'Next' : 'Skip' %>
<%= link_to skip_or_next, course_lesson_lesson_module_question_skip_path(course_id: @course.id,lesson_id: @lesson_module.lesson.id,lesson_module_id: @lesson_module.id,question_id: @question.id), class: 'btn btn-primary' %>