<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson module:</strong>
  <%= @question.lesson_module %>
</p>

<p>
  <strong>Lesson word:</strong>
  <%= @question.lesson_word %>
</p>

<p>
  <strong>Correct choice:</strong>
  <%= @question.correct_choice %>
</p>

<% if can?(:edit, @question) %>
  <%= link_to 'Edit', edit_question_path(@question) %>
<% end %>
<%= link_to 'Back', questions_path %>
