<%= form_for(@word_form) do |f| %>
  <% if @word_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word_form.errors.count, "error") %> prohibited this word_form from being saved:</h2>

      <ul>
      <% @word_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :associated_word , class:'control-label' %><br>
    <%= f.text_field :associated_word , class:'form-control'%>
  </div>
  <div class="field form-group">
    <%= f.label :word , class:'control-label'%><br>
    <%= f.collection_select :word_id, @words, :id, :name , class:'form-control'%>
  </div>
  <div class="actions form-group">
    <%= f.submit 'Create Word Form' , class:'btn btn-primary'%>
  </div>
<% end %>
