<%= form_tag user_add_role_path(controller: :users, action: :add_role) do %>
    <%= collection_select :user, :user_id, User.all, :id, :name_and_email %>
    <%= collection_select :user, :role, Role::CONSTANTROLES, :to_s, :to_s %>
    <%= submit_tag "Add Role", class:'btn btn-primary' %>
<% end %>
<br>

<%= form_tag user_remove_role_path(controller: :users, action: :remove_role) do %>
    <%= collection_select :user, :user_id, User.all, :id, :name_and_email %>
    <%= collection_select :user, :role, Role::CONSTANTROLES, :to_s, :to_s %>
    <%= submit_tag "Remove Role", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<br>
<%= render 'users/form' %>

<!--<br>-->
<!--<table class="table table-bordered table-striped">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>Name</th>-->
    <!--<th>Email</th>-->
    <!--<th>Role</th>-->
    <!--<th>Action</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<% User.all.each do |user| %>-->
      <!--<tr>-->
        <!--<td><%= user_name(user) %></td>-->
        <!--<td><%= email(user) %></td>-->
        <!--<td><%= UsersRoles.find_by(user_id: user.id) %></td>-->
      <!--</tr>-->
  <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->