<div class="row">
  <h3>Add Role to existing User</h3>
  <%= form_tag user_add_role_path(controller: :users, action: :add_role) do %>

      <div class="form-group">
        <%= collection_select :user, :user_id, User.all, :id, :name_and_email %>
      </div>
      <div class="form-group">
        <%= collection_select :user, :role, Role::CONSTANTROLES, :to_s, :to_s , {} ,:class => 'form-control'%>
      </div>
      <div class="form-group">
        <%= submit_tag "Add Role" , class:'btn btn-primary' %>
      </div>

  <% end %>
</div>

<div class="row">
  <h3>Remove Role from existing User</h3>
  <%= form_tag user_remove_role_path(controller: :users, action: :remove_role) do %>

      <div class="form-group" id="admin_remove">
        <%= collection_select :user, :user_id, User.all, :id, :name_and_email%>
      </div>
      <div class="form-group">
        <%= collection_select :user, :role, Role::CONSTANTROLES, :to_s, :to_s , {} ,:class => 'form-control'%>
      </div>
      <div class="form-group">
        <%= submit_tag "Remove Role" , class:'btn btn-primary' %>
      </div>

  <% end %>
</div>

<div class="row">
  <%= render 'users/form' %>
</div>