<%= form_for(course.course_emails.build) do |f| %>
    <% if course.course_emails.last.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(course.course_email.errors.count, "error") %> prohibited this course_email from being saved:</h2>

          <ul>
            <% course.course_emails.last.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.hidden_field :course_id, value: course.id %>
      <%= f.hidden_field :email, value: current_user.email %>
    </div>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Email</th>
        <th>Student</th>
      </tr>
      </thead>
      <tbody>
      <input type="checkbox" id="selectAll" value="selectAll"> Select / Deselect All<br/><br/>
      <%= f.label :users %>
      <%= f.collection_check_boxes(:user_id, User.with_role(:student, course), :id, :name_and_email) do |this| %>
          <tr>
                <td><%= this.check_box %></td>
                <td><%= this.text %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title , class:"form-control"%>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.cktext_area :content %>
    </div>
    <div class="actions">
      <%= f.submit "Send Email", class:"btn btn-primary pull-right"%>
    </div>
<% end %>
