<%= form_for(@course_email, url: course_course_emails_path(course_id: @course.id)) do |f| %>
  <% if @course_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_email.errors.count, "error") %> prohibited this course_email from being saved:</h2>

      <ul>
      <% @course_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
