<p id="notice"><%= notice %></p>

<h1>Listing Course Emails</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_emails.each do |course_email| %>
      <tr>
        <td><%= course_email.course %></td>
        <td><%= course_email.title %></td>
        <td><%= course_email.content %></td>
        <td><%= link_to 'Show', course_course_email_path(course_email, course_id: @course) %></td>
        <td><%= link_to 'Edit', edit_course_course_email_path(course_email, course_id: @course) %></td>
        <td><%= link_to 'Destroy', course_course_email_path(course_email, course_id: @course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can?(:email_class, @course) %>
<%= link_to 'New Course email', new_course_course_email_path(course_id: @course) %>
<% end %>
