<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course_email.course %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course_email.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @course_email.content %>
</p>

<%= link_to 'Edit', edit_course_course_email_path(@course_email, course_id: @course_email.course.id) %> |
<%= link_to 'Back', course_course_emails_path(course_id: @course_email.course.id) %>
