<%= form_for(@sentence , remote:true, html:{role: :form}) do |f| %>
  <% if @sentence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sentence.errors.count, "error") %> prohibited this sentence from being saved:</h2>

      <ul>
      <% @sentence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :word_sentence , class:'control-label' %><br>
    <%= f.text_field :word_sentence , class:'form-control' %>
  </div>

<div class="field form-group">
  <%= f.hidden_field :word_id, value: word.id%>
</div>

  <div class="actions form-group">
    <%= f.submit @sentence.new_record? ? "Create Sentence" : "Update Sentence" , class: 'btn btn-primary' %>
  </div>
<% end %>
