<%= form_for(word.sentences.last) do |f| %>
    <% if word.sentences.last.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(word.sentences.last.errors.count, "error") %> prohibited this sentence from being saved:</h2>

          <ul>
            <% word.sentences.last.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :word_sentence %><br>
      <%= f.text_field :word_sentence %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
