<p id="notice"><%= notice %></p>

<p>
  <strong>Word sentence:</strong>
  <%= @sentence.word_sentence %>
</p>

<p>
  <strong>Word:</strong>
  <%= @sentence.word.name %>
</p>
<% if can?(:edit, @sentence) %>
  <%= link_to 'Edit', edit_sentence_path(@sentence) , class:'btn btn-primary' %>
<% end %>
<%= link_to 'Back', sentences_path , class:'btn btn-primary' %>
