<p id="notice"><%= notice %></p>

<h1>Listing Lesson Extensions</h1>

<table>
  <thead>
    <tr>
      <th>Lesson</th>
      <th>User</th>
      <th>Extension date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lesson_extensions.each do |lesson_extension| %>
      <tr>
        <td><%= lesson_extension.lesson.id %></td>
        <td><%= lesson_extension.user %></td>
        <td><%= lesson_extension.extension_date %></td>
        <td><%= link_to 'Show', course_lesson_lesson_extension_path(lesson_extension, lesson_id: lesson_extension.lesson.id, course_id: lesson_extension.lesson.course.id) %></td>
        <td><%= link_to 'Edit', edit_course_lesson_lesson_extension_path(lesson_extension, lesson_id: lesson_extension.lesson.id, course_id: lesson_extension.lesson.course.id) %></td>
        <td><%= link_to 'Destroy', course_lesson_lesson_extension_path(lesson_extension, lesson_id: lesson_extension.lesson.id, course_id: lesson_extension.lesson.course.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson extension', new_course_lesson_lesson_extension_path(lesson_id: @lesson.id, course_id: @lesson.course.id ) %>
