<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @lesson_extension.lesson %>
</p>

<p>
  <strong>User:</strong>
  <%= @lesson_extension.user %>
</p>

<p>
  <strong>Extension date:</strong>
  <%= @lesson_extension.extension_date %>
</p>

<%= link_to 'Edit', edit_course_lesson_lesson_extension_path(@lesson_extension, course_id: @lesson_extension.lesson.course.id, lesson_id: @lesson_extension.lesson.id) %> |
<%= link_to 'Back', course_lesson_lesson_extensions_path(course_id: @lesson_extension.lesson.course.id, lesson_id: @lesson_extension.lesson.id) %>
