<%= form_for(@synonym) do |f| %>
  <% if @synonym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@synonym.errors.count, "error") %> prohibited this synonym from being saved:</h2>

      <ul>
      <% @synonym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :word_synonym , class:'control-label'%><br>
    <%= f.text_field :word_synonym , class:'form-control'%>
  </div>
  <div class="actions form-group">
    <%= f.submit 'Create Synonym' , class:'btn btn-primary' %>
  </div>
<% end %>
