<%= form_for(@synonym) do |f| %>
  <% if @synonym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@synonym.errors.count, "error") %> prohibited this synonym from being saved:</h2>

      <ul>
      <% @synonym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word_synonym %><br>
    <%= f.text_field :word_synonym %>
  </div>
  <div class="field">
    <%= f.label :word_id %><br>
    <%= f.text_field :word_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
