<p id="notice"><%= notice %></p>

<h1>Listing Synonyms</h1>

<table>
  <thead>
    <tr>
      <th>Word synonym</th>
      <th>Word</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @synonyms.each do |synonym| %>
      <tr>
        <td><%= synonym.word_synonym %></td>
        <td><%= synonym.word.name %></td>
        <% if can?(:show, synonym) %>
          <td><%= link_to 'Show', synonym %></td>
        <% end %>
        <% if can?(:manage, synonym) %>
          <td><%= link_to 'Edit', edit_synonym_path(synonym) %></td>
          <td><%= link_to 'Destroy', synonym, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can?(:create, Synonym) %>
  <%= link_to 'New Synonym', new_synonym_path , class:'btn btn-primary' %>
<% end %>