<p id="notice"><%= notice %></p>

<p>
  <strong>Word synonym:</strong>
  <%= @synonym.word_synonym %>
</p>

<p>
  <strong>Word:</strong>
  <%= @synonym.word.name %>
</p>
<% if can?(:edit, @synonym) %>
  <%= link_to 'Edit', edit_synonym_path(@synonym) , class:'btn btn-primary' %>
<% end %>
<%= link_to 'Back', synonyms_path , class:'btn btn-primary' %>
