<%= form_for(@lesson_word) do |f| %>
    <%= f.fields_for :lesson_word_forms, @lesson_word.lesson_word_forms.last do |word_form| %>
        <div class="field">
          <%= word_form.label :lesson_word %><br>
          <%= word_form.hidden_field :lesson_word, value: @lesson_word %>
        </div>
        <div class="field">
          <%= word_form.label :word_form %><br>
          <%= word_form.collection_select :word_form_id, @lesson_word.word.word_forms, :id, :associated_word %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
