<%= form_for(@lesson_word, remote: true, :html => { :role => "form" }) do |f| %>
    <%= f.fields_for :lesson_word_sentences, @lesson_word.lesson_word_sentences.last do |lesson_word_sentence| %>
        <div class="field">
          <%= lesson_word_sentence.label :lesson_word %><br>
          <%= lesson_word_sentence.hidden_field :lesson_word, value: @lesson_word %>
        </div>
        <div class="field">
          <%= lesson_word_sentence.label :sentence %><br>
          <%= lesson_word_sentence.collection_select :sentence_id, @lesson_word.not_word_sentences, :id, :word_sentence %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
