<%= form_for(@lesson_word) do |f| %>
    <%= f.fields_for :lesson_word_definitions, @lesson_word.lesson_word_definitions.last do |lesson_word_definition| %>
        <div class="field">
          <%= lesson_word_definition.label :lesson_word %><br>
          <%= lesson_word_definition.hidden_field :lesson_word, value: @lesson_word %>
        </div>
        <div class="field">
          <%= lesson_word_definition.label :definition %><br>
          <%= lesson_word_definition.collection_select :definition_id, @lesson_word.word.definitions, :id, :word_definition %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
