<h1>
  <%= @lesson_word.word.name %>
</h1>

<%= render 'lesson_words/display_lesson_word_definitions', lesson_word: @lesson_word %>
<hr>
<%= render 'lesson_words/display_lesson_word_sentences', lesson_word: @lesson_word %>
<hr>
<%= render 'lesson_words/display_lesson_word_synonyms', lesson_word: @lesson_word %>
<hr>
<%= render 'lesson_words/display_lesson_word_forms', lesson_word: @lesson_word %>
<hr>
<%= render 'lesson_words/display_lesson_word_videos', lesson_word: @lesson_word %>
