<tr id="lesson_word_<%= lesson_word.id %>">
  <td><%= lesson_word.word.name %></td>
  <td><%= lesson_word.definitions.length %></td>
  <td><%= lesson_word.sentences.length %></td>
  <td><%= lesson_word.synonyms.length %></td>
  <td><%= lesson_word.word_forms.length %></td>
  <td><%= lesson_word.word_videos.length %></td>
  <td>
    <%= link_to 'Edit', edit_course_lesson_lesson_word_path(lesson_word, course_id: @course.id, lesson_id: @lesson.id), remote: true, :class => 'btn btn-sm btn-info' %>
  </td>
  <td>
    <%= link_to 'Delete', course_lesson_lesson_word_path(lesson_word, course_id: @course.id, lesson_id: @lesson.id), remote: true, method: :delete, data: {confirm: "Delete Lesson Word: #{lesson_word.word.name}"}, :class => 'btn btn-sm btn-danger' %>
  </td>
</tr>

