<tr id="lesson_word_<%= lesson_word.id %>">
  <td><%= lesson_word.word.name %></td>
  <td><%= lesson_word.definitions.length %></td>
  <td><%= lesson_word.sentences.length %></td>
  <td><%= lesson_word.synonyms.length %></td>
  <td>
    <%= link_to 'Edit', edit_lesson_word_path(lesson_word), remote: true, :class => 'btn btn-sm btn-info' %>
  </td>
  <td>
    <%= link_to 'Delete', lesson_word, remote: true, method: :delete, data: {confirm: "Delete Lesson Word: #{lesson_word.word.name}"}, :class => 'btn btn-sm btn-danger' %>
  </td>
</tr>