<h1>
  <%= @lesson_word.word.name %>
</h1>
<% @lesson_word.definitions.each do |definition| %>
    <p><%= definition.word_definition %></p>
<% end %>

<%# Only render the ability to add definitions if the word has at least one definition %>
<% if ! @lesson_word.word.definitions.first.nil? %>
    <%= render 'lesson_words/add_definition' %>
<% end %>

<% @lesson_word.word_videos.each do |video| %>
    <p>
      <strong>Video link:</strong>
      <%= @word_video.video_link %>
    </p>

    <p>
      <strong>Video description:</strong>
      <%= @word_video.video_description %>
    </p>
<% end %>

<%# Only render the ability to add videos if the word has at least one video %>
<% if ! @lesson_word.word.word_videos.first.nil?%>
    <%= render 'lesson_words/add_video' %>
<% end %>
