<h1>
  <%= @lesson_word.word.name %>
</h1>
<% if @lesson_word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson_word.errors.count, "error") %> prohibited this lesson word sentence from being saved:</h2>

      <ul>
        <% @lesson_word.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% @lesson_word.definitions.each do |definition| %>
    <p><%= definition.word_definition %></p>
<% end %>

<%# Only render the ability to add definitions if the word has at least one definition %>
<% if @lesson_word.word.definitions.any? && @lesson_word.not_word_definitions.any? %>
    <%= render 'lesson_words/add_definition' %>
<% end %>


<% @lesson_word.sentences.each do |sentence| %>
    <p>
      <strong>Word sentence:</strong>
      <%= sentence.word_sentence %>
    </p>
<% end %>

<%# Only render the ability to add sentences if the word has at least one sentence %>
<% if @lesson_word.word.sentences.any? && @lesson_word.not_word_sentences.any? %>
    <%= render 'lesson_words/sentence' %>
<% end %>

<% @lesson_word.word_forms.each do |word_form| %>
    <p>
      <strong>Word Form:</strong>
      <%= word_form.associated_word %>
    </p>
<% end %>

<%# Only render the ability to add word_forms if the word has at least one word_form %>
<% if @lesson_word.word.word_forms.any? && @lesson_word.not_word_forms.any? %>
    <%= render 'lesson_words/add_word_form' %>
<% end %>

<% @lesson_word.synonyms.each do |synonym| %>
    <p>
      <strong>Synonym:</strong>
      <%= synonym.word_synonym %>
    </p>
<% end %>

<%# Only render the ability to add synonyms if the word has at least one synonym %>
<% if @lesson_word.word.synonyms.any? && @lesson_word.not_word_synonyms.any? %>
    <%= render 'lesson_words/add_synonym' %>
<% end %>

<% @lesson_word.word_videos.each do |video| %>
    <p>
      <strong>Video link:</strong>
      <%= video.video_link %>
    </p>

    <p>
      <strong>Video description:</strong>
      <%= video.video_description %>
    </p>
<% end %>

<%# Only render the ability to add videos if the word has at least one video %>
<% if @lesson_word.word.word_videos.any? && @lesson_word.not_word_videos.any? %>
    <%= render 'lesson_words/add_video' %>
<% end %>

<%= link_to 'Back', @lesson_word.lesson %>
