<%= form_for(User.new, controller: :users, action: :admin_create, url: admin_create_user_path) do |f| %>
    <div class="registration_space">
      <%= f.text_field :first_name, autofocus: true, :placeholder => 'First Name', class: 'col-md-3' %>
      <%= f.text_field :last_name,:placeholder => 'Last Name',class: 'col-md-3' %>
      <%= f.email_field :email, :placeholder => 'Email', class: 'col-md-3' %>
      <%= collection_select :user, :role, Role::CONSTANTROLES, :to_s, :to_s %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit 'Submit Registration' , class:'btn btn-primary'%>
    </div>
<% end %>