<% if user && lesson %>
    <h1>current grade <%= grade %></h1>
    <% modified_grade = grade_modifier.modified_grade_value.nil? ? 0 : grade_modifier.modified_grade_value %>
    <div id="grade_modifier_form">
      <%= render 'grade_modifiers/form', grade_modifier: grade_modifier, lesson: lesson, course: course, modified_grade: modified_grade, user: user %>
    </div>
    <h1 id="final_grade">final grade <%= grade.to_i + modified_grade %></h1>
<% elsif user && course %>
    <h1>current grade <%= grade %></h1>
    <% modified_grade = grade_modifier.modified_grade_value.nil? ? 0 : grade_modifier.modified_grade_value %>
    <div id="grade_modifier_form">
      <%= render 'grade_modifiers/form_user_course', grade_modifier: grade_modifier, course: course, modified_grade: modified_grade, user: user %>
    </div>
    <h1 id="final_grade">final grade <%= grade.to_i + modified_grade %></h1>
<% elsif lesson %>
    <h1>current average <%= grade %></h1>
    <% modified_grade = grade_modifier.modified_grade_value.nil? ? 0 : grade_modifier.modified_grade_value %>
    <div id="grade_modifier_form">
      <%= render 'grade_modifiers/form_no_user', grade_modifier: grade_modifier, lesson: lesson, course: course, modified_grade: modified_grade %>
    </div>
    <h1 id="final_grade">final grade <%= grade.to_i + modified_grade %></h1>
<% elsif course %>
    <h1>current grade <%= grade %></h1>
    <% modified_grade = grade_modifier.modified_grade_value.nil? ? 0 : grade_modifier.modified_grade_value %>
    <div id="grade_modifier_form">
      <%= render 'grade_modifiers/form_course', grade_modifier: grade_modifier, course: course, modified_grade: modified_grade, user: user %>
    </div>
    <h1 id="final_grade">final grade <%= grade.to_i + modified_grade %></h1>
<% end %>