<% answer = Answer.new %>
<% start_time = Time.now %>
<%= form_for(answer, url: course_lesson_lesson_module_question_answers_path(course_id: @course.id, lesson_id: question.lesson_module.lesson.id, lesson_module_id: question.lesson_module.id, question_id: question.id ), remote: true) do |f| %>
    <fieldset id="question_fieldset_<%= question.id %>" <%= 'disabled' if (correct || wrong) %>>
      <%= f.hidden_field :question_id, value: question.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :start_time, value: start_time %>
      <% question.answer_options.each do |option| %>
          <h5 class="<%= answer_option_words(question.answer_options_id, option.id) if (correct || wrong) %>">
            <%= f.radio_button :answer_option_id, option.id %>
            <%= f.label :answer_option_id, option.lesson_word.word.name, value: option.id %>
          </h5>
      <% end %>
      <div class="actions">
        <%= f.submit "Submit", data: { disable_with: "Submitting your answer..." } %>
      </div>
    </fieldset>
<% end %>

