<%= form_for(@lesson) do |f| %>
    <% if @lesson.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
            <% @lesson.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.fields_for :lesson_words, @lesson.lesson_words.last do |lesson_word| %>
        <div class="field">
          <%= lesson_word.label :class_name %><br>
          <%= lesson_word.hidden_field :lesson, value: @lesson %>
        </div>
        <div class="field">
          <%= lesson_word.label :word %><br>
          <%= lesson_word.collection_select :word_id, Word.all, :id, :name %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
