<p>
  <strong>Lesson name:</strong>
  <%= @lesson.lesson_name %>
</p>

<p>
  <strong>Lesson points:</strong>
  <%= @lesson.lesson_points %>
</p>

<p>
  <strong>Lesson start time:</strong>
  <%= @lesson.lesson_start_time %>
</p>

<p>
  <strong>Lesson end date:</strong>
  <%= @lesson.lesson_end_date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @lesson.course.class_name %>
</p>

<p>
  <strong>Penalty:</strong>
  <%= @lesson.penalty %>
</p>
<hr>
<p>Words In Lesson: </p>
    <% @lesson.lesson_words.each do |lesson_word| %>
    <%= lesson_words_link(lesson_word) %>
<% end %>
<hr><p>Add Word:</p>
<%= render 'lessons/add_word' %>
<hr>
<%= render 'lesson_modules/show_lesson_modules', lesson: @lesson %>
<hr>

<%= link_to 'Edit', edit_course_lesson_path(@lesson, course_id: @lesson.course.id) %> |
<%= link_to 'Back', @lesson.course %>

