<div class="field row">

    <%= f.attribute_fields do |a| %>
      <div class="col-md-3 col-xs-5 form-controls-padding">
        <%= a.attribute_select({associations: word_search_associations},{class: "form-control "}) %>
      </div>
    <% end %>

    <div class="col-md-3 col-xs-5 form-controls-padding">
        <%= f.predicate_select({only: [:cont, :not_cont]},{class:"form-control "}) %>
    </div>

  <a href="#" class="remove_fields btn btn-danger col-xs-1 hidden-lg hidden-md ">
    <span class=" glyphicon glyphicon-minus"></span>
  </a>

  <%= f.value_fields do |v| %>
      <div class="col-md-3 col-xs-11 form-controls-padding">
        <%= v.text_field :value , class:"form-control "%>
      </div>
  <% end %>


  <a href="#" class="remove_fields btn btn-danger col-md-1 hidden-sm hidden-xs">
    <span class=" glyphicon glyphicon-minus"></span>
  </a>

</div>