<tr id="word_form_<%= word_form.id %>">
  <td><%= word_form.associated_word %></td>
  <td><%= word_form.word.name %></td>
  <td><%= link_to 'Show', word_form %></td>
  <td><%= link_to 'Edit', edit_word_form_path(word_form) %></td>
  <td><%= link_to 'Destroy', word_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>