
  <h1>Words</h1>

  <%# search form for a word %>
  <%= search_form_for @search, url: words_path, class: "col-xs-12" do |f| %>
    <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c %>
    <% end %>

    <%= link_to_add_fields "Add Search Filter", f, :condition %>

    <div class="row"></div>

    <%# modal for a word %>
    <div>
      <%= link_to 'New Word', new_word_path, remote: true,  class:'btn btn-primary col-sm-3 ' %>
    </div>


    <div class="actions btn-group col-sm-offset-4">
      <%= f.submit "Search" , class:"btn btn-primary" %>
      <%= link_to 'Clear Search', words_path ,class:"btn btn-primary" %>
    </div>

  <% end %>



  <table class="table">
    <thead>
      <tr>
        <th><%= sort_link @search, :name,'Word name' %></th>
        <% if can?(:manage, @word) %>
            <th>View the Word</th>
            <th>Delete a Word</th>
        <% end %>
      </tr>
    </thead>

    <tbody id="words">
      <% @words.each do |word| %>
        <%= render 'word_row', word: word %>
      <% end %>
    </tbody>
  </table>

  <%= render 'layouts/dialog' %>
