<%= form_for(@word_video , remote:true, html:{role: :form}) do |f| %>
  <% if @word_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word_video.errors.count, "error") %> prohibited this word_video from being saved:</h2>

      <ul>
      <% @word_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :video_link , class:'control-label'%><br>
    <%= f.text_field :video_link , class:'form-control'%>
  </div>
  <div class="field form-group">
    <%= f.label :video_description , class:'control-label'%><br>
    <%= f.text_field :video_description , class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.hidden_field :word_id, value: word.id%>
  </div>

  <div class="actions form-group">
    <%= f.submit 'Create Word Video', class:'btn btn-primary' %>
  </div>
<% end %>
