
<%= form_for(User.new, url: create_user_path(@course, format: :html) ) do |f| %>

    <div class="registration_space">

      <div class="form-group">
        <label class="control-label">First Name</label>
        <%= f.text_field :first_name, autofocus: true, :placeholder => 'First Name', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <label class="control-label">Last Name</label>
        <%= f.text_field :last_name,:placeholder => 'Last Name',:class => 'form-control' %>
      </div>

      <div class="form-group">
        <label class="control-label">Email</label>
        <%= f.email_field :email, :placeholder => 'Email', :class => ' form-control' %>
      </div>

      <%= f.hidden_field :course_id, value: @course.id %>

      <div class="actions form-group">
        <%= f.submit 'Register Student' , class:'btn btn-primary form-control'%>
      </div>
    </div>
    </br>



<% end %>