<%= form_for(User.new, url: create_user_path(@course, format: :html) ) do |f| %>
    <div class="registration_space">
      <%= f.text_field :first_name, autofocus: true, :placeholder => 'First Name', :class => 'col-md-3' %>
      <%= f.text_field :last_name,:placeholder => 'Last Name',:class => 'col-md-3' %>
      <%= f.email_field :email, :placeholder => 'Email', :class => 'col-md-3' %>
      <%= f.hidden_field :course_id, value: @course.id %>
    </div>
    <div class="actions">
      <%= f.submit 'Submit Registration' %>
    </div>
<% end %>