<tr id="word_<%= course.id %>">
  <td><%= course.class_name %></td>

  <td><%= link_to 'Show', course %></td>
  <td><%= link_to 'Edit', edit_course_path(course)%></td>
  <td><%= link_to 'Destroy', course, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>