<%= form_for(@course, html: {role: :form}) do |f| %>

    <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
            <% @course.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="col-xs-12">
      <div class="field form-group col-xs-12">
        <%= f.label :class_name %><br>
        <%= f.text_field :class_name, class:"form-control"%>
      </div>
      <div class="field col-xs-6">
        <%= f.label :start_date %><br>
        <%= f.text_field :start_date, readonly: true %>
      </div>
      <div class="field col-xs-6">
        <%= f.label :end_date %><br>
        <%= f.text_field :end_date, readonly: true %>
      </div>
      <!--#TODO fix the formatting here so end date and submit line up-->
      <div class="field col-xs-12">
        <%= f.label :syllabus %><br>
        <%= f.cktext_area :syllabus %>
      </div>
      <div class="field col-xs-12">
        <%= f.label :description %><br>
        <%= f.cktext_area :description %>
      </div>
      <div class="actions btn-group col-sm-offset-8 col-xs-offset-5">
        <%= link_to 'Back', courses_path , class:"btn btn-primary" %>
        <%= f.submit @course.new_record? ? "Create Course" : "Update Course", class:"btn btn-primary"%>
      </div>
    </div>
  <% end %>
<div class="clearfix"></div>
