<%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
            <% @course.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="col-xl-4 col-md-4 col-sm-4 col-xs-12 col-xl-offset-1 col-md-offset-1 col-sm-offset-1">
      <div class="field">
        <%= f.label :class_name %><br>
        <%= f.text_field :class_name %>
      </div>
      <div class="field">
        <%= f.label :end_date %><br>
        <%= f.text_field :end_date, readonly: true %>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-4 col-xs-12 col-xl-offset-1 col-md-offset-1 col-sm-offset-1">
      <div class="field">
        <%= f.label :start_date %><br>
        <%= f.text_field :start_date, readonly: true %>
      </div>
      <!--#TODO fix the formatting here so end date and submit line up-->
      <div class="field">
        <%= f.label :syllabus %><br>
        <%= f.cktext_area :syllabus %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.cktext_area :description %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :class_name %><br>
    <%= f.text_field :class_name , class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit "Create Course", class:"btn btn-primary"%>
  </div>
<% end %>
<div class="clearfix"></div>
