<% users = User.with_role(:student, @course)%><hr>
<h3>Add a Student to the Course</h3>

<div>
<%= render 'add_student' %>
</div>

<div>
<%= form_tag course_add_to_course_path(@course) do %>
    <%= collection_select :user, :user_id, (User.all - users), :id, :name_and_email, {include_blank: 'Select Student'}, class: 'chosen-select' %>
    <%= submit_tag 'Select User', class: 'btn btn-primary' %>
<% end %>
</div>

<!-- Was asked for but team thought it wasn't a good idea so commented out until discussed later-->
<!--<div>-->
<!--<%# form_tag course_mass_add_to_course_path(@course) do %>-->
    <!--<%# text_area :user, :user_emails , class:"form_control" %>-->
    <!--<%# submit_tag "Select User" %>-->
<!--<%# end %>-->
<!--</div>-->

<!--<div>-->
<!--<h3>Import a CSV File with students</h3>-->
<!--<%# form_tag import_courses_path, multipart: true do %>-->
    <!--<%# file_field_tag :file %>-->
    <!--<%# hidden_field_tag "course_id", @course.id %>-->
    <!--<%# submit_tag "Import CSV" %>-->
<!--<%# end %>-->
<!--</div>-->

<hr>
</br>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <% users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Remove user', course_remove_user_from_course_path(@course, user_id: user.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to remove this student?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>