<div class="main" xmlns="http://www.w3.org/1999/html">

<h3 class="col-sm-12">
  <strong>Course name:</strong>
  <%= @course.class_name %>
</h3>
</br>

<h4 class="col-sm-3">
  <strong>Start date:</strong>
  <%= @course.start_date %>
</h4>

  </br>

<h4 class="col-sm-9">
  <strong>End date:</strong>
  <%= @course.end_date %>
</h4>

  <% if can?(:manage, @course) %>

<%= form_tag course_duplicate_course_path(@course) do %>
    <div class="form-group">
        <%= text_field_tag :course_start_time_tag %>
        <%= submit_tag "Duplicate Class" , class:"btn btn-primary"%>
    </div>
<% end %>

<%= form_tag course_share_course_path(@course) do %>
      <div class="form-group">
        <%= text_field_tag :course_start_time_share_tag %>
        <%= collection_select :user, :teacher_id, User.with_role(:teacher, :any).uniq, :id, :name_and_email, {} , {class:"form-control width-control"} %>
        <%= submit_tag "Share Class" , class:"btn btn-primary"%>
      </div>
<% end %>

      <% end %>

</div>
<div class="clearfix"></div>
<div class="main">
  <h1>Events</h1>
  <div id="calendar">
  </div>

</div>


