<p>
  <strong>Class name:</strong>
  <%= @course.class_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
</p>

<h3>Create A New Student</h3>
<%= render 'add_student' %>

<h3>Import a CSV File with students</h3>
<%= form_tag import_courses_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= hidden_field_tag "course_id", @course.id %>
    <%= submit_tag "Import CSV" %>
<% end %>
</div>

<table>
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Delete?</th>
  </tr>
  </thead>

  <tbody>
  <% @course.users.each do |user| %>
    <% next if user.id == nil || user.has_role?(:teacher, @course) %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= button_to "Remove user", course_user_remove_from_course_path(@course, user), :method => :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

