<div class="main" xmlns="http://www.w3.org/1999/html">

<h3 class="col-sm-12">
  <strong>Course name:</strong>
  <%= @course.class_name %>
</h3>
</br>

<h4 class="col-sm-3">
  <strong>Start date:</strong>
  <%= @course.start_date %>
</h4>

  </br>

<h4 class="col-sm-9">
  <strong>End date:</strong>
  <%= @course.end_date %>
</h4>

  <% if can?(:manage, @course) %>

<%= form_tag course_duplicate_course_path(@course) do %>
    <div class="form-group">
        <%= submit_tag "Duplicate Class" , class:"btn btn-primary"%>
    </div>
<% end %>

<%= form_tag course_share_course_path(@course) do %>
      <div class="form-group">
        <%= collection_select :user, :teacher_id, User.with_role(:teacher, :any).uniq, :id, :name_and_email, {} , {class:"form-control width-control"} %>
        <%= submit_tag "Share Class" , class:"btn btn-primary"%>
      </div>
<% end %>

      <% end %>

  <%= link_to 'Course Schedule', course_events_path(course_id: @course.id), class:"btn btn-primary" %>
  <%= link_to 'Course Syllabus', nil, class:"btn btn-primary" %>
  <%= link_to 'Course Description', nil,  class:"btn btn-primary"%>
</div>


