<h1>Hi</h1>
<%= form_tag course_grade_modifier_course_path(@course) do %>
    <%= text_area :user, :user_emails %>
    <%= submit_tag "Select User" %>
<% end %>
<%= user.name %> <%= lesson.lesson_name %> <%= lesson_grade %>