<div>
  <h1>Course View</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Student Name</th>
      <% @course.lessons.each do |lesson| %>
          <th colspan="2"><%= link_to lesson.lesson_name, course_gradebook_lesson_path(lesson_id: lesson) %></th>
      <% end %>
      <th colspan="2">Total</th>
    </tr>

    <tr>
      <th></th>
      <% (0...@course.lessons.length).each do %>
          <th>Grade </th>
          <th>Time</th>
      <% end %>
      <th>Grade</th>
      <th>Time</th>
    </tr>
    </thead>

    <tbody>
    <% User.with_role(:student, @course).each do |user| %>
        <% total_grade = 0 %>
        <% total_time = 0 %>
        <tr>
          <td><%= user.name %></td>
          <% @course.lessons.each do |lesson| %>
              <% grade, time = Gradebook.course_grades(user, lesson) %>
              <th><%= grade %>%</th>
              <th><%= time %> sec</th>
              <% total_grade += grade %>
              <% total_time += time %>
          <% end %>
          <th><%= total_grade %>%</th>
          <th><%= total_time %></th>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>