<div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 home-page-card-opacity">
  <div class="jumbotron">
    <div class="col-xl-12 col-md-12 col-xs-12">
      <div>
        <h1>Course View</h1>
        <% if @users.empty? && @course.lessons.empty? %>
            <h3>Please Add Lessons To This Class</h3>
            <h3>Please Add Students To This Class</h3>
        <% elsif @users.empty?  %>
            <h3>Please Add Students To This Class</h3>
        <% elsif @course.lessons.empty? %>
            <h3>Please Add Lessons To This Class</h3>
        <% else %>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Student Name</th>
                <% @course.lessons.each do |lesson| %>
                    <th colspan="2"><%= link_to lesson.lesson_name, course_gradebook_lesson_path(lesson_id: lesson) %></th>
                <% end %>
                <th colspan="2">Total</th>
              </tr>

              <tr>
                <th></th>
                <% (0...@course.lessons.length).each do %>
                    <th>Grade </th>
                    <th>Time</th>
                <% end %>
                <th>Grade</th>
                <th>Time</th>
              </tr>
              <tr>
                <th>Averages</th>
                <% @course.lessons.each do |lesson| %>
                    <% average_grade, average_time = @grades["lesson_average#{lesson.id}"] %>
                    <% average_modified_grade = @grade_modifiers["lesson#{lesson.id}"]%>
                    <th style="<%= 'background-color: white' if average_modified_grade != 0%>"><%= link_to "#{(average_grade + average_modified_grade).to_i}%", course_grade_modifiers_path(course_id: @course.id, grade: average_grade, lesson_id: lesson.id), remote: true, id: "lesson#{lesson.id}" %></th>
                    <th><%= average_time %> sec</th>
                <% end %>
                <% average_course_grade, average_course_time = @grades['course_average']%>
                <th><%= average_course_grade %>%</th>
                <th><%= average_course_time %> sec</th>
              </tr>
              </thead>

              <tbody>
              <% @users.each do |user| %>
                  <tr>
                    <td><%= link_to user.name, course_gradebook_student_path(student_id: user.id) %></td>
                    <% @course.lessons.each do |lesson| %>
                        <% grade, time = @grades["#{user.id}-#{lesson.id}"] %>
                        <% modified_grade = @grade_modifiers["#{user.id}-#{lesson.id}"] %>
                        <th style="<%= 'background-color: white' if modified_grade != 0%>"><%= link_to "#{(grade + modified_grade).to_i}%", course_grade_modifiers_path(course_id: @course.id, grade: grade, lesson_id: lesson.id, user_id: user.id), remote: true, id: "#{user.id}-#{lesson.id}" %></th>
                        <th><%= time %> sec</th>
                    <% end %>
                    <% final_grade, final_time = @grades["user_course_#{user.id}"] %>
                    <% user_final_modified_grade = @grade_modifiers["user#{user.id}"] %>
                    <th style="<%= 'background-color: white' if user_final_modified_grade != 0%>"><%= link_to "#{(final_grade + user_final_modified_grade).to_i}%", course_grade_modifiers_path(course_id: @course.id, grade: final_grade, user_id: user.id), remote: true, id: "user#{user.id}"%></th>
                    <th><%= final_time %></th>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<%= render 'layouts/dialog' %>