<h1>Listing Word Roots</h1>
<%= search_form_for @search, url: word_roots_path do |f| %>
    <div class="field">
      <%= f.text_field :root_name_cont, placeholder: 'Search by Root Name'  %>
      <%= f.text_field :root_definition_cont, placeholder: 'Search by Root Definition'  %>
    </div>
    <div class="actions potentials-inline">
      <%= f.submit "Search Roots" %>
    </div>
    <div class="potentials-inline">
      <%= link_to 'Clear Search', word_roots_path %>
    </div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :root_name,'Root name' %></th>
      <th><%= sort_link @search, :root_definition,'Root definition' %></th>
    </tr>
  </thead>

  <tbody>
    <% @word_roots.each do |word_root| %>
      <tr>
        <td><%= word_root.root_name %></td>
        <td><%= word_root.root_definition %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word root', new_word_root_path %>
