<%= form_for(@lesson_module, url: {action: :update}, lesson_id: @lesson.id) do |f| %>
    <% if @lesson_module.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lesson_module.errors.count, "error") %> prohibited this lesson_module from being saved:</h2>

          <ul>
            <% @lesson_module.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="col-xs-2">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, readonly: true %>
      </div>
      <div class="field">
        <%= f.label :attempts %><br>
        <%= f.number_field :attempts %>
      </div>
      <div class="field">
        <%= f.label :value_percentage %><br>
        <%= f.number_field :value_percentage %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="field">
        <%= f.label :number_of_answers %><br>
        <%= f.number_field :number_of_answers %>
      </div>
      <div class="field">
        <%= f.label :in_use %>
        <%= f.check_box :in_use %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
<div class="clearfix"></div>