<p>
  <strong>Name:</strong>
  <%= @lesson_module.name %>
</p>

<p>
  <strong>Attempts:</strong>
  <%= @lesson_module.attempts %>
</p>

<p>
  <strong>In use:</strong>
  <%= @lesson_module.in_use %>
</p>

<p>
  <strong>Value percentage:</strong>
  <%= @lesson_module.value_percentage %>
</p>
<% if can?(:edit, @lesson_module) %>
  <%= link_to 'Edit', edit_course_lesson_lesson_module_path(@lesson_module, course_id: @course.id, lesson_id: @lesson.id) %>
<% end %>
<%= link_to 'Back', course_lesson_lesson_modules_path(course_id: @course.id, lesson_id: @lesson.id) %>
