<ul class="nav nav-sidebar" id="accordion1">
  <% if @course %>
      <li>
        <a data-toggle="collapse" data-parent="#accordion1" href="#class_list"><i class="glyphicon glyphicon-camera pull-right"></i>Class List</a>
        <ul id="class_list" class="collapse panel-collapse">
          <li><%= link_to "Email Class", course_email_class_path(@course) %></li>
          <li><%= link_to "Manage Students", course_manage_students_path(@course) %></li>
        </ul>
      </li>
      <li>
        <%= link_to course_manage_lessons_path(@course) do %>
            <i class="glyphicon glyphicon-camera pull-right"></i>Manage Lessons
        <% end %>
      </li>
  <% end %>
  <li>
    <a data-toggle="collapse" data-parent="#accordion1" href="#resources"><i class="glyphicon glyphicon-th-large pull-right"></i> Resources</a>
    <ul id="resources" class="collapse panel-collapse">
      <li><%= link_to "Syllabus", course_syllabus_path(@course) %></li>
      <li><%= link_to "Course Description", course_description_path(@course) %></li>
      <li><%= link_to "Schedule", '#' %></li>
    </ul>
  </li>
  <li>
    <%= link_to '#' do %>
        <i class="glyphicon glyphicon-tasks pull-right"></i>Grade Book
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
        <i class="glyphicon glyphicon-equalizer pull-right"></i>Reports
    <% end %>
  </li>
  <li>
    <a data-toggle="collapse" data-parent="#accordion1" href="#dictionary"><i class="glyphicon glyphicon-book pull-right"></i>Dictionary</a>
    <ul id="dictionary" class="collapse panel-collapse">
      <li><%= link_to 'Search Words', words_path %></li>
      <li><%= link_to 'Search Word Roots', word_roots_path %></li>
      <li><%= link_to 'Add Word', new_word_path %></li>
      <li><%= link_to 'Add Root Word', new_word_root_path %></li>
    </ul>
  </li>
</ul>