<ul class="nav nav-list" id="accordion1">
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#class_list">Class List</a>
    <ul id="class_list" class="collapse panel-collapse">
      <li><%= link_to "Email Class", course_email_class_path(@course) %></li>
      <li><%= link_to "Manage Students", course_manage_students_path(@course) %></li>
    </ul>
  </li>
  <li class="panel">
    <%= link_to "Manage Lessons", course_manage_lessons_path(@course) %>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#resources">Resources</a>
    <ul id="resources" class="collapse panel-collapse">
      <li><%= link_to "Syllabus", '#'%></li>
      <li><%= link_to "Course Description", '#' %></li>
      <li><%= link_to "Schedule", events_path %></li>
    </ul>
  </li>
  <li class="panel">
    <%= link_to "Grade Book", '#' %>
  </li>
  <li class="panel">
    <%= link_to "Reports", '#' %>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#dictionary">Dictionary</a>
    <ul id="dictionary" class="collapse panel-collapse">
      <li><%= link_to 'Search Words', words_path %></li>
      <li><%= link_to 'Search Word Roots', word_roots_path %></li>
      <li><%= link_to 'Add Word', new_word_path %></li>
      <li><%= link_to 'Add Root Word', new_word_root_path %></li>
    </ul>
  </li>
</ul>
