<li>
  <a data-toggle="collapse" data-parent="#accordion1" href="#resource">Resources<i class="sub_icon glyphicon glyphicon-list"></i></a>
  <ul id="resource" class="collapse panel-collapse">
    <li><%= link_to 'Syllabus <i class="sub_icon glyphicon glyphicon-road"></i>'.html_safe, course_syllabus_path(@course), class: 'sub_link' %></li>
    <li><%= link_to 'Course Description <i class="sub_icon glyphicon glyphicon-book"></i>'.html_safe, course_description_path(@course), class: 'sub_link' %></li>
    <li><%= link_to 'Schedule <i class="sub_icon glyphicon glyphicon glyphicon-calendar"></i>'.html_safe, course_events_path(@course), class: 'sub_link' %></li>
  </ul>
</li>
<% if can?(:email_class, @course) %>
  <li>
    <%= link_to 'Email Class <i class="sub_icon glyphicon glyphicon glyphicon-envelope"></i>'.html_safe, course_email_class_path(@course), data: { no_turbolink: true } %>
  </li>
<% end %>
<% if can?(:manage_students, @course) %>
  <li>
    <%= link_to 'Manage Students <i class="sub_icon glyphicon glyphicon glyphicon glyphicon-th-list"></i>'.html_safe, course_manage_students_path(@course) %>
  </li>
<% end %>
  <li>
    <%= link_to 'Grade Book <i class="sub_icon glyphicon glyphicon-inbox"></i>'.html_safe, course_gradebook_course_path(@course)  %>
  </li>