<ul class="nav nav-list" id="accordion1">
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#class_list">Class List</a>
    <ul id="class_list" class="collapse panel-collapse">
      <li><%= link_to "Email Class", nil%></li>
      <li><%= link_to "Update List", nil%></li>
    </ul>
  </li>
  <li class="panel">
    <%= link_to "Manage Lessons", nil%>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#resources">Resources</a>
    <ul id="resources" class="collapse panel-collapse">
      <li><%= link_to "Syllabus", nil%></li>
      <li><%= link_to "Course Description", nil %></li>
      <li><%= link_to "Schedule", nil %></li>
    </ul>
  </li>
  <li class="panel">
    <%= link_to "Grade Book", nil %>
  </li>
  <li class="panel">
    <%= link_to "Reports", nil %>
  </li>
  <li class="panel">
    <%= link_to "Dictionary", words_path %>
  </li>

</ul>