<li>
  <%= link_to 'Email Class <i class="sub_icon glyphicon glyphicon glyphicon-envelope"></i>'.html_safe, course_email_class_path(@course) %>
</li>
<li>
  <%= link_to 'Manage Students <i class="sub_icon glyphicon glyphicon glyphicon glyphicon-th-list"></i>'.html_safe, course_manage_students_path(@course) %>
</li>

<li>
  <a data-toggle="collapse" data-parent="#accordion1" href="#dictionary">Resources<i class="sub_icon glyphicon glyphicon-list"></i></a>
  <ul id="dictionary" class="collapse panel-collapse">
    <li><%= link_to 'Syllabus <i class="sub_icon glyphicon glyphicon-search"></i>'.html_safe, '#', class: 'sub_link' %></li>
    <li><%= link_to 'Course Description <i class="sub_icon glyphicon glyphicon-search"></i>'.html_safe, '#', class: 'sub_link' %></li>
    <li><%= link_to 'Schedule <i class="sub_icon glyphicon glyphicon glyphicon-calendar"></i>'.html_safe, '#', class: 'sub_link' %></li>
  </ul>
</li>
<li>
  <%= link_to 'Grade Book <i class="sub_icon glyphicon glyphicon-inbox"></i>'.html_safe, course_gradebook_course_path(@course)  %>
</li>
<li>
  <%= link_to 'Reports <i class="sub_icon glyphicon glyphicon glyphicon-list-alt"></i>'.html_safe, '#'  %>
</li>