<!DOCTYPE html>
<html>
<head>
  <title>Vocab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<%= render 'layouts/header' %>

<body>

<div class="container">
  <% flash.each do |name, msg| %>
      <% if name == :alert %>
          <%= content_tag :div, msg, class: "alert alert-info" %>
      <% else %>
          <%= content_tag :div, msg, class: "alert notice-info" %>
      <% end %>
  <% end %>
</div>

<% if controller.controller_name == 'courses' && action_name != 'new' && action_name != 'index' %>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-8">
        <%= yield %>
      </div>
    </div>
<% else %>
    <div class="row">
      <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
        <%= yield %>
      </div>
    </div>
<% end %>


<div id="footer">
  <%= render 'layouts/footer' %>
</div>

</body>

</html>
