<!DOCTYPE html>
<html>
<head>
  <title>Vocab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="sidebar" class="col-xs-1">
  <%= render 'layouts/sidebar' %>
</div>

<div id='main' class="row col-xs-11">
  <%= yield %>
</div>


<div id="footer col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <%= render 'layouts/footer' %>
</div>

</body>

</html>


<!-- Menu Toggle Script -->
<script>
    $('#menu-toggle').on('click', function(){
        if($('#wrapper').attr('class') == 'active') {
            $('#wrapper').removeClass('active');
            $('#main').removeClass('main-sidebar-active');

        } else {
            $('#wrapper').addClass('active');
            $('#main').addClass('main-sidebar-active');
        }
        localStorage.setItem('active', $('#wrapper').attr('class'));
    });
    //Sets sidebar in or out on load
    $(function() {
        $('#wrapper').addClass(localStorage.getItem('active'));
    });
    $('.accordian1').click(function(){
        $(this).find('span').toggleClass('glyphicon-menu-right').toggleClass('glyphicon-menu-down');
    });
</script>