<!DOCTYPE html>
<html>
<head>
  <title>Vocab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<%= render 'layouts/header' %>

<body>
<div class="container">
  <% flash.each do |name, msg| %>
      <% if name == :alert %>
          <%= content_tag :div, msg, class: "alert alert-info" %>
      <% else %>
          <%= content_tag :div, msg, class: "alert notice-info" %>
      <% end %>
  <% end %>
</div>

<div class="row">
  <%= yield %>
</div>
</body>

<%= render 'layouts/footer' %>

</html>
